.rating-stars
{
    padding: 20px;
    width: auto;
}

.star
{
    min-width: 43px;
    min-height: 40px;
    display: inline-block !important;
    background-image: url("../files/base/images/star.png");
    margin: 5px;
}

.star input[type='radio']
{
    display: none;
}

.active-star
{
    background-position-y: -40px;
}