::-webkit-scrollbar
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 14px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(105, 105, 105);

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    border-radius: 12px;
}
::-webkit-scrollbar-thumb
{
    background-color: #f0ddbf;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

    border-radius: 12px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment
{
    height: 30px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar:window-inactive,
::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.25);
}

body
{
    background-color: #f0ddbf;
    margin-bottom: 10px;
    overflow-x: hidden;
}

header
{
    background-color: #c3ac84;
}

main
{
    padding: 5px 2px 0 0;
}

footer
{
    border-top: 1px solid black;
    margin-bottom: -10px;
}

h1
{
    color: #990000;
}

h2, h3, h4
{
    color: #015b64;
}

th, td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000033;
}

a
{
    text-decoration: none;
    color: #750512;
    border: none;
}
a:hover
{
    color: #c01319;
    text-decoration: underline;
}
a:active
{
    color: #750512 !important;
    text-decoration: none !important;
}

.radio-label
{
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px 5px;
}

.radio-label
{
    background-color: rgba(128, 128, 128, 0.5);
}

.radio-label input[type='radio']
{
    display: none;
}
.radio-label label
{
    border: none;
    display: inline;
    margin: 3px 10px;
    cursor: pointer;
}

.review
{
    padding: 5px;
    margin: 10px 0;
    -webkit-box-shadow: inset 0 0 5px 3px blue;
    -moz-box-shadow: inset 0 0 5px 3px blue;
    box-shadow: inset 0 0 5px 3px blue;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#top-products
{
    margin: 2px;
    padding: 2px;
    border: 1px;
    text-align: center;
}

.sidebar
{
    background-color: #E89522;
    padding-bottom: 20px;
}

#content
{
    padding-bottom: 20px;
}

#menu
{
    box-shadow: 0 0 5px 3px darkblue;
    -o-box-shadow: 0 0 5px 3px darkblue;
    -moz-box-shadow: 0 0 5px 3px darkblue;
    -webkit-box-shadow: 0 0 5px 3px darkblue;
    background-color: #000033;
}

#menu .navbar-toggler, #menu .navbar-toggler-icon
{
    width: auto !important;
    height: auto !important;
}

#menu a, #menu input, #menu button
{
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    text-align: center;
    color: darkorange;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    height: auto;
    background-color: #000033;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#menu a:hover, #menu input:hover, #menu button:hover
{
    color: darkgreen;
    background-color: #f0ddbf;

    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;

    box-shadow: inset 3px 3px 6px 2px #000033;
    -o-box-shadow: inset 3px 3px 6px 2px #000033;
    -moz-box-shadow: inset 3px 3px 6px 2px #000033;
    -webkit-box-shadow: inset 3px 3px 6px 2px #000033;
}

/*#brand img
{
    box-shadow: 0 0 10px 4px #645a4e;
    -o-box-shadow: 0 0 10px 4px #645a4e;
    -moz-box-shadow: 0 0 10px 4px #645a4e;
    -webkit-box-shadow: 0 0 10px 4px #645a4e;

    width: 100%;
}*/

#open-sidebar
{
    display: none;
}

.zoom-imgs.row
{
    margin: 5px;
    background-color: white;
}

.zoom-imgs .col-md
{
    display: flex;
    margin: 5px !important;
    align-items: center;
}

.zoom-imgs .col-md .img
{
    width: 100% !important;
    max-height: 100% !important;
}

#after-menu
{
    margin-top: 10px;
}

.sidebar
{
    max-width: 350px;
}

.zoomed
{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 500px 250px black;
}


/*  */

.dropdown-submenu,
.dropdown-menu
{
    background: #000033;
    position: relative;
}

a.dropdown-toggle.empty
{
    padding: 15px;
    background-color: darkorange !important;
}

.dropdown-submenu a::after
{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}

.dropdown-submenu.open .dropdown-menu,
.dropdown-submenu.open .dropdown-menu
{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}

@media (max-width: 992px)
{
    .dropdown-menu
    {
        width: 50%;
    }

    .dropdown-menu .dropdown-submenu
    {
        width: auto;
    }
}